<div class="subscription-container">
    <div>
        <!--Creates new subscription based on data-->
        {{#each subsData}}
        <div class="subscription">
        <h3>{{this.subname}}</h3>
        <p>Description: {{this.description}}</p>
        <p>Link: <a href="https://www.{{this.link}}" target="_blank">{{this.link}}</a></p>
        <p>Price: ${{this.payment}}</p>
        <p>Renews on {{this.renew}}</p>
        </div>
        {{/each}}
    </div>
</div>

<script src="./js/logout.js"></script>
